html, body {
  margin: 0; 
  padding: 0; 
}

nav.navbar
{
  background-color: skyblue; 
}

nav.navbar ul {
  margin: 0 -2%; 
  padding: 0 3%; 
}

nav.navbar li {
  display: inline-block;
  margin: 0 1em; 
}

nav.navbar p 
{
  text-decoration: none; 
  color: black; 
  display: block; 
  padding: 0.25em; 
}

main
{
  margin: 0 15%; 
}

nav.breadcrumb {
  padding: 0.8em 1em;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
  background: hsl(300, 14%, 97%);
  clear: both; 
}

nav.breadcrumb ol {
  margin: 0;
  padding: 0; 
  list-style: none;
}

nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 .25em;
  transform: rotate(15deg);
  border-right: .1em solid black;
  height: .8em;
  content: '';
}

nav.breadcrumb [aria-current="page"] {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

button
{
  float: right; 
}

div 
{
  display: inline-block; 
  padding: 1em; 
}

nav.footnav
{
  background-color: teal; 
  padding: 3em; 
}

nav.footnav li {
  display: block;
}

nav.footnav p
{
  margin: 0% -5%; 
  color: white; 
}
